@{
    Cliente cliente = ViewBag.Cliente;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alterar Clientes</title>
</head>
<body>
    <form asp-action="Alterar" asp-controller="Veiculo" method="post">
        <fieldset>
            <legend>Alterar cliente</legend>
            <label for="txtNome">Nome:</label>
            <input name="txtNome" type="text" placeholder="Nome completo" /><br />
            <label for="txtCPF">CPF:</label>
            <input name="txtCPF" type="text" placeholder="CPF" /><br />
            <label for="txtEmail">E-mail:</label>
            <input name="txtEmail" type="text" placeholder="E-mail" /><br />
            <label for="txtEndereco">Endereço:</label>
            <input name="txtEndereco" type="text" placeholder="Endereço" /><br />
            <label for="txtHabilitacao">Habilitacao:</label>
            <input name="txtHabilitacao" type="text" placeholder="Habilitação" /><br />
            <label for="txtCategoria">Categoria:</label>
            <input name="txtCategoria" type="text" placeholder="Categoria" /><br />
            <label for="txtTelefone">Telefone:</label>
            <input name="txtTelefone" type="text" placeholder="Telefone" /><br />

            <input type="submit" value="Salvar" />
        </fieldset>
    </form>
</body>
</html>