<!DOCTYPE html>
<html>

<head>
    <title>Gerenciamento de Veículos</title>
</head>
<body>
    <h2>GERENCIAR VEÍCULO:</h2>
    <a asp-action="Cadastrar" asp-controller="Veiculo">CADASTRAR VEÍCULO</a>
</body>
</html>